.path-local-downloadcentercustom .mform .card.block  .row.fitem .col-md-3.col-form-label,
.path-local-downloadcentercustom .mform  #id_downloadoptionscontainer .row.fitem .col-md-3.col-form-label,
.path-local-downloadcentercustom form fieldset > div > div.fitem.femptylabel {
    display: none;
}

.path-local-downloadcentercustom form .warningmessage {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.path-local-downloadcentercustom .include_setting,
.path-local-downloadcentercustom .grouped_settings .normal_setting {
    display: inline-block;
}

.path-local-downloadcentercustom .mform .grouped_settings {
    overflow: hidden;
}

.path-local-downloadcentercustom .mform .block {
    padding-top: 5px;
    padding-left: 1rem;
}


.path-local-downloadcentercustom .core_progress_display_if_slow {
    width: 400px;
}

.path-local-downloadcentercustom #mform2 #fitem_id_submitbutton {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}


.path-local-downloadcentercustom form .itemtitle {
    font-weight: normal;
}

.path-local-downloadcentercustom form .block .fitem label .sectiontitle,
.path-local-downloadcentercustom form .block .fitem .fitemtitle label .sectiontitle,
.path-local-downloadcentercustom form .itemtitle span {
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.path-local-downloadcentercustom form .block .fitem label .sectiontitlebadge {
    position: relative;
    top: -0.2rem;
}
.path-local-downloadcentercustom form .itemtitle span,
.path-local-downloadcentercustom form .block .fitem label .sectiontitle {
    vertical-align: text-bottom;
}

.path-local-downloadcentercustom form .activityicon {
    width: 16px;
    height: 16px;
    margin-top: -7px;
}

.path-local-downloadcentercustom form #mod_select_links .activityicon {
    margin-top: 0;
    margin-right: 0.5rem;
}


.path-local-downloadcentercustom .mform .grouped_settings .fitem div.fitemtitle {
    padding-top: 0;
}

.path-local-downloadcentercustom #mod_select_links {
    overflow: hidden;
}

/* boost fixes */

.path-local-downloadcentercustom #region-main .card-body .card.block .col-md-3 {
    display: none;
}


.path-local-downloadcentercustom #region-main .card-body .card.block {
    margin-bottom: 0.5rem;
}

.path-local-downloadcentercustom #region-main .card.block {
    background-color: #f5f5f5;
}

.path-local-downloadcentercustom #region-main .card.block.subsection {
    background-color: #fff;
}

.path-local-downloadcentercustom #region-main .card.block.grouped_settings {
    background-color: #fff;
}

.path-local-downloadcentercustom #region-main .card.block .row.fitem.downloadcenter_selector label span,
.path-local-downloadcentercustom #region-main .card.block .row.fitem:first-child label span,
.path-local-downloadcentercustom #region-main .card.block .row.fitem:first-child label,
.path-local-downloadcentercustom #region-main .card.block .row.fitem:first-child {
    font-weight: bold;
}

.path-local-downloadcentercustom #region-main .card.block .row.fitem {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
    margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
}

/* delete first empty row used in hack :) */
.path-local-downloadcentercustom #region-main .card-body .mform .warningmessage + .fitem {
    display: none;
}


/* boost fixes end */

.path-local-downloadcentercustom .mform .row label {
    width: 100%;
}

.path-local-downloadcentercustom .mform #id_downloadoptionscontainer .row label {
    width: auto;
}

.path-local-downloadcentercustom .mform .row.downloadcenter_selector label {
    margin-right: 10px;
    width: auto;
}

.path-local-downloadcentercustom .mform .row.downloadcenter_selector {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
    margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.path-local-downloadcentercustom #region-main .mform #id_downloadoptionscontainer .row.fitem.row .col-md-9.checkbox,
.path-local-downloadcentercustom #region-main .mform .card.block.grouped_settings .row.fitem.row .col-md-9,
.path-local-downloadcentercustom #region-main .mform .card.block .row.fitem.row .col-md-9.checkbox {
    max-width: 100%;
    flex: 0 0 100%;
}

@media (min-width: 1475px) {
    .path-local-downloadcentercustom form .fitemtitle {
        float: none;
    }

    .path-local-downloadcentercustom form .itemtitle span {
        max-width: 95%;
    }
}

@media (max-width: 1475px) {
    .path-local-downloadcentercustom form .fitemtitle {
        float: none;
    }

    .path-local-downloadcentercustom form .itemtitle span {
        max-width: 90%;
    }

}

@media (max-width: 1229px) {
    .path-local-downloadcentercustom form .itemtitle span {
        max-width: 85%;
    }
}


@media (max-width: 499px) {
    .path-local-downloadcentercustom form .itemtitle span {
        max-width: 78%;
    }


}

@media (max-width: 319px) {
    .path-local-downloadcentercustom form .itemtitle span {
        max-width: 100px;
    }


}

.path-local-downloadcentercustom form #id_downloadoptionscontainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.path-local-downloadcentercustom #region-main #downloadcenter-search-clear {
    z-index: 10;
    width: 2.8rem;
    margin-left: -2.8rem;
    padding-top: 0.7rem;
    border-radius: 0;
}

.path-local-downloadcentercustom .form-autocomplete-suggestions {
    max-height: 200px !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
}

.path-local-downloadcentercustom [role="listbox"] { /* [role="option"] Contains  selecter groups on Groups*/
    padding: 6px 12px !important;
    font-size: 0.95rem !important;
    width: 260px;
}

.path-local-downloadcentercustom .form-autocomplete-suggestions li[aria-selected="true"] {
    background-color: #0d6efd !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.path-local-downloadcentercustom .mform .fitem:has(#id_selectedgroups) {
    margin-bottom: 10px !important;
}

.path-local-downloadcentercustom #fgroup_id_buttonar {
    margin-top: 100px !important;
}

.path-local-downloadcentercustom #fgroup_id_buttonar .felement input[type="submit"] {
    margin-right: 24px !important;
}

.path-local-downloadcentercustom #downloadcenter-bytype,
.path-local-downloadcentercustom #mod_select_links,
.path-local-downloadcentercustom .grouped_settings .downloadcenter_selector .col-md-9 .font-weight-bold.ml-3.text-nowrap {
    display: none !important;
}